@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

.Header {
  height: 90px;
  max-width: 1440px;
  margin-bottom: 30px;
  padding: 60px 100px 0 60px;
}

.Main {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 0px 80px;
}

/* .image__container {
} */

.info__container {
  padding: 20px;
}

.Main__title {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.Main__description {
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
}

.Main__button-register {
  height: 60px;
  width: 200px;
  border-radius: 50px;
  box-shadow: none;
  color: hsl(257, 40%, 49%);
  font-size: 16px;
  outline: none;
}

.Main__button-register:hover {
  cursor: pointer;
}

.Main__button-register:active {
  letter-spacing: 2px;
}

.Footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  padding: 100px 80px 0 0;
}

.Footer__icon {
  margin: 10px;
  height: 40px;
  width: 40px;
  border: solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
